:host ::ng-deep .global{
  width: 100%;
  max-width: 100em;
  margin: 0 auto;
  overflow: hidden;
  font-size: 16px;
}

.product-image {
  width: 12em;
  height: 12em;
  box-sizing: border-box;
}

/* Fondo */
:host ::ng-deep body, :host ::ng-deep html {
  overflow: hidden;
}

:host ::ng-deep .surface-ground {
  background-image: url("src/assets/layout/images/fondo1.jpeg")!important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

/*Imagenes*/
:host ::ng-deep .logo{
  width: 10em;
  height: 10em;
  position: absolute;
  left: 2%;
  top: 3%;
}

:host ::ng-deep .logo2{
  width: 22em;
  height: 10em;
  position: absolute;
  left: 38%;
  top: 3%;
}

:host ::ng-deep .user{
  width: 7em;
  height: 7em;
  float: right;
  position: absolute;
  left: 88%;
  top: 3%;
}

:host ::ng-deep .btn1{
  display: inline-block;
  background-color: #44e4e4c7;
  position: absolute;
  left: 20%;
  top: 36%;
  width: 15em;
  height: 4em;
  border: none;
}

:host ::ng-deep .btn2{
  display: inline-block;
  background-color: #44e4e4c7;
  position: absolute;
  left: 40%;
  top: 36%;
  width: 15em;
  height: 4em;
  border: none;
}
:host ::ng-deep .btn3{
  display: inline-block;
  background-color: #44e4e4c7;
  position: absolute;
  left: 60%;
  top: 36%;
  width: 15em;
  height: 4em;
  border: none;
}

:host ::ng-deep .nav-enlace{
  display: inline-block;
  text-decoration: none;
  left: 38%;
  margin-right: 100px;
}

:host ::ng-deep .nav-enlace:hover{
  background: #CDF94D ;
}

:host ::ng-deep .menu{
  padding: 10px;
  display: flex;
  justify-content: space-around;
}







