<div class="global" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maxinum-scalable=1.0, mininum-scalable=1.0">
  <div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="global">
        <img src="assets/layout/images/logo.png" class="logo">
        <img src="assets/layout/images/logo2.png" class="logo2">
        <img src="assets/layout/images/usu.png" class="user"><br><br>
        <!--<div class="barra">
          <nav>
            <a href="#" class="nav-enlace" routerLink="/agr-empleado">Empleados</a>
            <a href="#" class="nav-enlace" routerLink="/agr-servicios">Servicios</a>
            <a href="#" class="nav-enlace" routerLink="/agr-clientes">Clientes</a>
          </nav>
        </div>-->


        <ul class="menu">
          <button class="btn1" aria-label="EMPLEADOS">
            <img src="assets/layout/imagenes/empleado.png" alt="Empleado">
          </button>
          <button class="btn2" aria-label="SERVICIOS">
            <img src="assets/layout/imagenes/btn-empleado.png" alt="Empleado">
          </button>
          <button class="btn3" aria-label="CLIENTES">
            <img src="assets/layout/imagenes/btn-empleado.png" alt="Empleado">
          </button>
        </ul>
    </div>
  </div>
</div>


