
:host ::ng-deep .global{
  margin: 0 auto;
  overflow: hidden;
}

.product-image {
  width: 180px;
  height: 180px;
  box-sizing: border-box;
}

/* Fondo */
:host ::ng-deep body, :host ::ng-deep html {
  overflow: hidden;
}

:host ::ng-deep .surface-ground {
  background-image: url("src/assets/layout/images/fondo.jpg")!important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

/*Botón*/
:host ::ng-deep .button {
  float: right;
  width: 15%;
  border-radius: 54px;
  border-color: black;
  background-color: rgb(0, 0, 0);
}

/*Imagenes*/
:host ::ng-deep .logo{
  width: 160px;
  height: 160px;
  margin-right: 325px;
}

:host ::ng-deep .logo2{
  width: 350px;
  height: 160px;
}

:host ::ng-deep .mb-5 {
  font-family: Arial, sans-serif;
}


:host ::ng-deep  .min-h-screen {
  min-height: 97.5vh !important;
}


:host ::ng-deep  .min-w-screen {
  min-width: 95vw !important;
}

/*redes*/
:host ::ng-deep .redes{
  margin-left: 200px;
  margin-right: 170px;
}

:host ::ng-deep .redes2{
  margin-right: 170px;
}

:host ::ng-deep .redes3{
  margin-right: 170px;
}








