/* styles.css o styles.scss */

/* Estilos generales para pantallas grandes */
@media (min-width: 768px) {
  /* Agrega estilos para pantallas más grandes aquí */
}

/* Estilos para pantallas pequeñas */
@media (max-width: 767px) {
  /* Agrega estilos para pantallas más pequeñas aquí */
}


/* Fondo */
:host body, :host html {
  overflow: hidden;
}

:host .surface-ground {
  background-image: url("src/assets/layout/images/fondo.jpg") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

:host.services {
  position: absolute;
  top: 100px; /* Ajusta la distancia desde la parte superior de la página */
  left: 200px; /* Ajusta la distancia desde la izquierda de la página */
  float: right;
  border-radius: 54px;
  border-color: black;
  background-color: white;

}

:host.clientes {
  position: absolute;
  top: 100px; /* Ajusta la distancia desde la parte superior de la página */
  left: 200px; /* Ajusta la distancia desde la izquierda de la página */
  float: right;
  border-radius: 54px;
  border-color: black;
  background-color: white;

}

:host.agenda {
  position: absolute;
  top: 100px; /* Ajusta la distancia desde la parte superior de la página */
  left: 200px; /* Ajusta la distancia desde la izquierda de la página */
  float: right;
  border-radius: 54px;
  border-color: black;
  background-color: white;
}

