/*Card Login*/
:host ::ng-deep .w-full.surface-card {
  border-radius: 54px;
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
}

/* Fondo */
:host ::ng-deep body, :host ::ng-deep html {
  overflow: hidden;
}

/* Estilos de la imagen de fondo */
:host ::ng-deep .surface-ground {
  background-image: url("src/assets/layout/images/fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*Botón*/
:host ::ng-deep .w-full.p-3.text-xl {
  border-radius: 54px;
  background-color: rgb(0, 0, 0);
}

/*imagen usuario*/
:host ::ng-deep .mb-3 {
  position: relative;
  left: 100px;
  size: 512px;
}

/*texto signin*/
:host ::ng-deep .text-600.font-medium {
  position: relative;
  left: -40px;
}

/*Logo*/
:host ::ng-deep .mb-5.w-15rem.flex-shrink-0 {
  position: absolute;
  top: 0;
  left: 10px;
}

:host ::ng-deep .mb-5 {
  font-family: Arial, sans-serif;
}


:host ::ng-deep  .min-h-screen {
  min-height: 97.5vh !important;
}


:host ::ng-deep  .min-w-screen {
  min-width: 95vw !important;
}



